.video-container{
    position: absolute;
    left: 25%;
}

button{
    background-color: #CE93D8;
    color: white;
}

.savebtn{
    background-color: rgb(204, 70, 238);
}

body {
    background-color: #F0F0F0;
}
#app {
    text-align: center;
    color: #2c3e50;
    margin-top: 60px;
}
#video {
    background-color: #000000;
}
#canvas {
    display: none;
}
li {
    display: inline;
    padding: 5px;
}