<div class="container"> 
    <div>
      <mat-form-field appearance="fill">
        <mat-label>Caption:</mat-label>
        <input matInput [(ngModel)]='image.caption'>
      </mat-form-field>
    </div>
      <div>
        <mat-form-field appearance="fill">
            <mat-label>Categories</mat-label>
            <mat-select multiple [formControl]="picCategory" >
              <mat-option *ngFor="let category of allCatgories" (click)="selectCatgories()" [value]="category">{{category.name}}</mat-option>
            </mat-select>
          </mat-form-field>
      </div>
      <div>
        <mat-form-field appearance="fill">
          <mat-label>Loction:</mat-label>
          <input matInput [(ngModel)]='image.loction'>
        </mat-form-field>
        <span>
            <button mat-button *ngIf="isLoctionAllow">
                <mat-icon  (click)="changeLoction()" >place</mat-icon>
              </button>
        </span>
      </div>
      <div>
            <section class="example-section">
                <p><mat-checkbox [(ngModel)]='image.favorite' class="cmb">favorite photo</mat-checkbox></p>
              
                <p><mat-checkbox [(ngModel)]='image.privateMode' class="cmb">Private Mode</mat-checkbox></p>
            </section>
      </div>
   </div> 
   <button class="nextBtn" (click)="SaveImg()" >Save</button>
  <app-footer></app-footer>
  
