
    <h1>
        Your photos
        live here.
        Best photo organizer
        for a lifetime of memories.
    </h1>

    <h3>Meet Mylio.</h3>
<p>
    Mylio is the only photo manager where you can edit, organize, sync, and protect a lifetime of photos and videos – keeping your files private on your own devices.
</p>
<h3>Not a cloud service.</h3>
    <div>
        Backing up photos to the cloud is convenient.
    </div>
    <div>
        But there are risks, from costs to hacks and privacy. Mylio believes photo files need to be stored on your own devices.
    </div>
<br>
   <h3>
    Keep your data private.
   </h3> 
   <p>
    By design, Mylio does not have access to the files in your account. Your data belongs to you alone.
   </p>
